[submodule "themes/omega-hugo"]
	path = themes/omega-hugo
	url = https://github.com/gethugothemes/omega-hugo
[submodule "themes/themes/omega-hugo"]
	path = themes/themes/omega-hugo
	url = https://github.com/gethugothemes/omega-hugo/
